@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  /* palette */
  --gray5: #2e2e2e;

  /* code formatiting */
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;

  /* color */
  --mono5: var(--gray5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    font-family: sans-serif;
    color-scheme: dark;
    background-color: #1a1a1a;
  }
}

html {
  min-width: 360px;
  color: #d4d4d4;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.heading {
  font-family: "newsreader";
  font-size: 18.5px;
  font-style: italic;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply my-4 bg-neutral-50 dark:bg-neutral-800 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-700 py-2 px-3 text-sm;
}

.prose code {
  @apply px-2 py-1 bg-neutral-800 rounded-md text-sm font-normal;
}

.prose pre code {
  @apply p-0;
  border: initial;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply my-4;
}

.prose p {
  @apply mt-0 mb-4 text-neutral-800 dark:text-neutral-300;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-3;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-3;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-3;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-3;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose li {
  @apply my-2 text-neutral-800 dark:text-neutral-300;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose th {
  @apply text-left pb-2 border-b border-gray-200 dark:border-gray-600;
}

.prose td {
  @apply py-1 pr-4;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.title {
  text-wrap: balance;
}

.blog-blur:hover .title:not(:hover) {
  filter: blur(4px);
  transition: filter 0.25s;
}

.blog-blur .title:hover {
  filter: blur(0);
  transition: filter 0.25s;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

blockquote {
  @apply italic;
}

.scroller {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 var(--gradient-size-start),
    #000 calc(100% - var(--gradient-size-end)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 var(--gradient-size-start),
    #000 calc(100% - var(--gradient-size-end)),
    transparent 100%
  );
}

@media (max-width: 688px) {
  .scroller {
    --gradient-size-start: 2px;
    --gradient-size-end: 20%;
  }
}
