@import "tailwindcss";

/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
} */

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  /* palette */
  --gray2: #eaeaea;
  --gray5: #2e2e2e;

  /* color */
  --mono2: var(--gray2);
  --mono5: var(--gray5);
}

html.light[data-theme="dark"] {
  display: none;
}

html.dark[data-theme="light"] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--mono5) transparent;
  }

  pre code[data-theme],
  pre code[data-theme] span {
    color: var(--shiki-dark);
  }

  html {
    font-family: sans-serif;
    color-scheme: dark;
    color: #d4d4d4;
    background-color: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--mono2) transparent;
  }

  pre code[data-theme],
  pre code[data-theme] span {
    color: var(--shiki-light);
  }
}

html {
  min-width: 360px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.heading {
  font-family: "newsreader";
  font-size: 18.5px;
  font-style: italic;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-800 rounded-b-lg overflow-x-auto py-4 text-sm border-neutral-200 dark:border-neutral-500 border-b border-x border-t-neutral-200 border-x-neutral-200 dark:border-b-neutral-700 dark:border-x-neutral-700;
  counter-reset: line;
}

.prose code {
  @apply bg-neutral-50 dark:bg-neutral-800 rounded-md text-[12.5px] p-1 font-normal;
}

.prose pre code > [data-line]::before {
  @apply text-neutral-400 dark:text-neutral-500 mr-8 inline-block text-right w-4;
  counter-increment: line;
  content: counter(line);
}

.prose pre code[data-line-numbers-max-digits="2"] > [data-line]::before {
  @apply w-8;
}

.prose pre code[data-line-numbers-max-digits="3"] > [data-line]::before {
  @apply w-12;
}

.prose pre code {
  @apply p-0;
  border: initial;
}

pre [data-line] {
  @apply px-4;
}

figcaption[data-rehype-pretty-code-title] {
  @apply bg-neutral-100 dark:bg-neutral-700 max-w-fit rounded-sm px-2 text-sm;
}

span[data-highlighted-line] {
  @apply bg-neutral-100 dark:bg-neutral-700 border-l-3 border-neutral-500 dark:border-neutral-400;
}

mark[data-highlighted-chars] {
  @apply bg-neutral-200 dark:bg-neutral-600 rounded-sm px-1;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply my-4;
}

.prose p {
  @apply mt-0 mb-4 text-neutral-800 dark:text-neutral-300;
}

.prose u {
  @apply decoration-neutral-200 dark:decoration-neutral-600 underline underline-offset-2;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-3;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-3;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-3;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-3;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-[disc] pl-5;
}

.prose ul.contains-task-list li.task-list-item {
  list-style-type: none;
}

.prose li {
  @apply my-2 text-neutral-800 dark:text-neutral-300;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose th {
  @apply text-left pb-2 border-b border-neutral-200 dark:border-neutral-700;
}

.prose td {
  @apply text-left py-1 pr-4;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

.blog-blur:hover .title:not(:hover) {
  filter: blur(4px);
  transition: filter 0.25s;
}

.blog-blur .title:hover {
  filter: blur(0);
  transition: filter 0.25s;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  @apply mr-2;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

blockquote {
  @apply italic border-l-4 ml-4 pl-4 dark:border-neutral-600 border-neutral-200;
}

.scroller {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 var(--gradient-size-start),
    #000 calc(100% - var(--gradient-size-end)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 var(--gradient-size-start),
    #000 calc(100% - var(--gradient-size-end)),
    transparent 100%
  );
}

@media (max-width: 688px) {
  .scroller {
    --gradient-size-start: 2px;
    --gradient-size-end: 20%;
  }
}
